{% load static %}

<footer class="bottom col-xs-12 foot_block" id="footer">
    <div class="container">
        <div class="comm_cont">
            <div class="col-xs-12">
                <div class="add_head">
                    <p>The Stay Bliss Retreats</p>
                    <p>Location: In the Heart of Shimla, "Chail"</p>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="address_block col-xs-12">
                    <div class="row">
                        <div class="add_cont">
                            <ul class="">
                                <li>
                                    <div class="footer-detail mail-show-hide"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i> <i class="fa fa-envelope fa-stack-1x"></i></span> <a href="mailto:centralreservations@theclarkshotels.com?Subject=Enquiry" target="_top">sales@littleheartresort.com</a></div>
                                </li>
                                <li>
                                    <div class="footer-detail"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i> <i class="fa fa-phone fa-stack-1x"></i></span><span>+917011311171 | For Booking</span></div>
                                </li>
                                <li>
                                    <div class="footer-detail"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i> <i class="fa fa-phone fa-stack-1x"></i></span> <span>+91 9555555563 | General Queries</span></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 footer-row">
                    <div class="social_block col-sm-12 col-md-5">
                        <div class="social_head">
                            <p>Get In Touch</p>
                        </div>
                        <div class="social_cont">
                            <div class="socialIcon"><a class="social-fb" href="https://www.facebook.com/profile.php?id=100064060179668&mibextid=ZbWKwL" target="_blank"><span class="fa fa-facebook"></span></a>
                                <a class="social-lin" href="https://www.linkedin.com/company/theclarkshotelsresorts" target="_blank"><span class="fa fa-linkedin"></span></a>
                                <a class="social-ig" href="https://www.instagram.com/littleheartresortchail?igsh=aGh5MmxtdXI0azFi" target="_blank"><span class="fa fa-instagram"></span></a>                                        
                                <a class="social-wa" href="https://web.whatsapp.com/send?phone=+91-7011311171" target="_blank"><span class="fa fa-whatsapp"></span></a>
                                <a class="social-yt" href="https://www.youtube.com/@theclarkshotelsandresorts" target="_blank"><span class="fa fa-youtube"></span></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 footer-row footer_navbar_wrapper">
                <div class="clearfix">
                    <nav class="footer_navbar">
                        <ul class="nav navbar-nav">
                            <li class="second-li"><a class="active" href="#">Home</a></li>
                            <li class="second-li"><a class="" href="#">Rooms</a></li>
                            <li class="second-li"><a class="" href="#">Cottages</a></li>
                            <li class="second-li"><a class="" href="#">Open Air Restaurant</a></li>
                            <li class="second-li"><a class="" href="#">Careers</a></li>
                            <!-- <li class="second-li"><a class="" href="#">Covid-19 Safety Measures</a></li> -->
                            <li class="second-li"><a class="" href="#">Contact Us</a></li>
                            <li class="second-li"><a class="" href="#">Conference Hall</a></li>
                            <li class="second-li"><a class="" href="#">Open Lawn</a></li>
                            <li class="second-li"><a class="False" href="#">Water Fall</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="comm_cont f_bot">
                <div class="container">
                    <div class="col-xs-12 text-center"><a href="" title="click here for sitemap">Codecutsmedia</a>
                        <p><a href="//www.simplotel.com" target="_blank">Codecutsmedia - Hotel Website Design &amp; Booking Engine</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="fade in cb-hide" id="continueBooking"><button class="close"></button>
        <div class="cb-wrap">
            <div class="cb-main">
                <h4 class="cb-name"></h4>
                <h4 class="cb-heading">Continue your booking</h4>
                <p class="cb-hotel-name"></p>
                <p class="cb-book-details"></p>
            </div>
            <div class="cb-arrow"><i class="fa fa-angle-right"></i></div>
        </div>
        <p class="cb-room-price"></p>
    </div> -->
</footer>
