{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <script>
        ! function(f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function() {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1549523692559482');
        fbq('track', 'PageView');
    </script>
    <link href="https://fonts.googleapis.com/css2?family=Suranna&amp;display=swap" rel="stylesheet" />
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],

                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =

                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);

        })(window, document, 'script', 'dataLayer', 'GTM-5VSDDBCL');
    </script>
    <meta content="7u59a4oedzphmsd42pjns10nxmqhzt" name="facebook-domain-verification" />
    <meta content="1fs6ylg2ydnzxluctk3dum2354uaic" name="facebook-domain-verification" />
    <script>
        ! function(w, d, t) {
            w.TiktokAnalyticsObject = t;
            var ttq = w[t] = w[t] || [];
            ttq.methods = ["page", "track", "identify", "instances", "debug", "on", "off", "once", "ready", "alias", "group", "enableCookie", "disableCookie"], ttq.setAndDefer = function(t, e) {
                t[e] = function() {
                    t.push([e].concat(Array.prototype.slice.call(arguments, 0)))
                }
            };
            for (var i = 0; i < ttq.methods.length; i++) ttq.setAndDefer(ttq, ttq.methods[i]);
            ttq.instance = function(t) {
                for (var e = ttq._i[t] || [], n = 0; n < ttq.methods.length; n++) ttq.setAndDefer(e, ttq.methods[n]);
                return e
            }, ttq.load = function(e, n) {
                var i = "https://analytics.tiktok.com/i18n/pixel/events.js";
                ttq._i = ttq._i || {}, ttq._i[e] = [], ttq._i[e]._u = i, ttq._t = ttq._t || {}, ttq._t[e] = +new Date, ttq._o = ttq._o || {}, ttq._o[e] = n || {};
                n = document.createElement("script");
                n.type = "text/javascript", n.async = !0, n.src = i + "?sdkid=" + e + "&lib=" + t;
                e = document.getElementsByTagName("script")[0];
                e.parentNode.insertBefore(n, e)
            };

            ttq.load('CE2QLTJC77UE9HS46RSG');
            ttq.page();
        }(window, document, 'ttq');
    </script>
    <link as="style" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700?display=swap" onload="this.onload=null;this.rel='stylesheet'" rel="preload" /><noscript><link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700?display=swap" rel="stylesheet"/></noscript>
    <link as="style" href="https://d79k57b9f2p6h.cloudfront.net/fontawesome/5.12.0/css/all.min.css" onload="this.onload=null;this.rel='stylesheet'"
        rel="preload" /><noscript><link href="https://d79k57b9f2p6h.cloudfront.net/fontawesome/5.12.0/css/all.min.css" rel="stylesheet" type="text/css"/></noscript>
    <link as="style" href="https://d79k57b9f2p6h.cloudfront.net/fontawesome/5.12.0/css/v4-shims.min.css" onload="this.onload=null;this.rel='stylesheet'"
        rel="preload" /><noscript><link href="https://d79k57b9f2p6h.cloudfront.net/fontawesome/5.12.0/css/v4-shims.min.css" rel="stylesheet" type="text/css"/></noscript>
    <link as="style" href="https://d79k57b9f2p6h.cloudfront.net/animation/animate.css" onload="this.onload=null;this.rel='stylesheet'"
        rel="preload" /><noscript><link href="https://d79k57b9f2p6h.cloudfront.net/animation/animate.css" rel="stylesheet" type="text/css"/></noscript>
    <link href="{% static 'css/simp.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/custom-plugins.css' %}" rel="stylesheet" type="text/css" />
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Hotel",

            "name": "The Clarks Hotels \u0026 Resorts",
            "description": "The Clarks Hotels \u0026 Resorts have some of the top hotels in India. We are also one of the biggest brands with properties spanning across the country.",
            "telephone": "1800 202 7707",
            "email": "centralreservations@theclarkshotels.com",

            "address": {
                "@type": "PostalAddress",
                "streetAddress": "707 Emaar Capital Tower,\nMehrauli - Gurgaon Road, Sector 26\nGurugram - Haryana 122002",
                "addressLocality": "",
                "addressCountry": ""
            },



            "logo": "https://res.cloudinary.com/simplotel/image/upload/x_503,y_731,w_2755,h_837,r_0,c_crop,q_90/w_355,h_200,f_auto,c_fit/the-clarks-hotels-resorts/Final_logo_Black1_hbghqk",



            "containsPlace": [],

            "photo": "https://res.cloudinary.com/simplotel/image/upload/x_0,y_0,w_1920,h_1080,r_0,c_crop,q_80,fl_progressive/w_1650,c_fit,f_auto/the-clarks-hotels-resorts/Palampur_sqluno",
            "image": {
                "@type": "ImageObject",
                "url": "https://res.cloudinary.com/simplotel/image/upload/x_0,y_0,w_1920,h_1080,r_0,c_crop,q_80,fl_progressive/w_1650,c_fit,f_auto/the-clarks-hotels-resorts/Palampur_sqluno"
            },

            "url": "https://www.theclarkshotels.com/",
            "sameAs": [
                "https://www.facebook.com/theclarkshotelsandresorts", "https://www.linkedin.com/company/theclarkshotelsresorts", "https://www.instagram.com/theclarkshotelsandresorts/?utm_medium=copy_link", "+91-92058 67733", "https://www.youtube.com/@theclarkshotelsandresorts"
            ]
        }
    </script>
    <title>The Stay Bliss Retreats | Official Website</title>
    <meta content="The Stay Bliss Retreats have some of the top hotels in India. We are also one of the biggest brands with properties spanning across the country."
        name="Description" />
    <meta content="The Stay Bliss Retreats | Official Website" property="og:title" />
    <meta content="website" property="og:type" />
    {% comment %} <meta content="https://www.theclarkshotels.com/" property="og:url" /> {% endcomment %}
    <meta content="" property="og:image" />
    <meta content="The Clarks Hotels &amp; Resorts have some of the top hotels in India. We are also one of the biggest brands with properties spanning across the country." property="og:description" />
    <meta content="The Clarks Hotels &amp; Resorts, Hotels in Karnataka, Top Hotels in India" name="Keywords" />
    {% comment %} <link href="https://www.theclarkshotels.com/" rel="canonical" /> {% endcomment %}
    <link href="https://fonts.googleapis.com/" rel="dns-prefetch" />
    <link crossorigin="" href="https://fonts.googleapis.com/" rel="preconnect" />
    <link href="https://d79k57b9f2p6h.cloudfront.net/" rel="dns-prefetch" />
    <link crossorigin="" href="https://d79k57b9f2p6h.cloudfront.net/" rel="preconnect" />
    <link href="https://res.cloudinary.com/" rel="dns-prefetch" />
    <link crossorigin="" href="https://res.cloudinary.com/" rel="preconnect" />
    <link href="https://fonts.gstatic.com/" rel="dns-prefetch" />
    <link crossorigin="" href="https://fonts.gstatic.com/" rel="preconnect" />
    <link href="https://cdn.simplotel.com/" rel="dns-prefetch" />
    <link crossorigin="" href="https://cdn.simplotel.com/" rel="preconnect" />
    <link href="https://cdnjs.cloudflare.com/" rel="dns-prefetch" />
    <link crossorigin="" href="https://cdnjs.cloudflare.com/" rel="preconnect" />
    <meta content="#2b2a29" name="theme-color" />
    <link href="../../media/falcon.png" rel="shortcut icon"/>
    <style type="text/css">
        header .navbar-nav>li:not(#menuFilterLoc):hover>.dropdown-menu {
            display: block;
        }
    </style>

    <meta content="BDAACE752F021F8ED5D1AD5A93AAF201" name="msvalidate.01" />
</head>